<div class="header uk-width-1-1 uk-animation-fade">
    <!-- <div class="uk-container uk-container-expand"> -->
<!--        <div style="padding: 5px; cursor: pointer; margin-bottom: 10px;">-->
<!--            <span uk-icon="icon: list"></span><span style="margin-left: 4px;">Filter Database</span>-->
<!--        </div>-->
<!--        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m card">-->
            <div class="uk-container">
              <ul class="uk-subnav uk-subnav-pill navItems" uk-switcher>
                <li class="uk-text-center item" (click)="getData('shipments')"><a href="#" class="uk-text-center">shipments</a></li>
                <li class="uk-text-center item" (click)="getData('buyer')"><a href="#">buyers</a></li>
                <li class="uk-text-center item" (click)="getData('supplier')"><a href="#">suppliers</a></li>
              </ul>
<!--                <div class="uk-grid-small uk-child-width-expand@s" uk-grid>-->
<!--                    <select class="uk-select uk-width-1-6 " id="form-stacked-select" style="width: 150px">-->
<!--                        <option value="" selected hidden>Activity</option>-->
<!--                        <option>Option 01</option>-->
<!--                        <option>Option 02</option>-->
<!--                    </select>-->
<!--                    <select class="uk-select uk-width-1-6" id="form-stacked-select" style="width: 150px; margin-left: 2px;">-->
<!--                        <option value="" selected hidden>Country</option>-->
<!--                        <option>Option 01</option>-->
<!--                        <option>Option 02</option>-->
<!--                    </select>-->
<!--                    <select class="uk-select uk-width-1-6" id="form-stacked-select" style="width: 150px; margin-left: 2px;">-->
<!--                        <option value="" selected hidden>Product Origin</option>-->
<!--                        <option>Option 01</option>-->
<!--                        <option>Option 02</option>-->
<!--                    </select>-->
<!--                    <select class="uk-select uk-width-1-6" id="form-stacked-select" style="width: 150px; margin-left: 2px;">-->
<!--                        <option value="" selected hidden>Date</option>    -->
<!--                        <option>Option 01</option>-->
<!--                        <option>Option 02</option>-->
<!--                    </select>-->
<!--                    <div class="uk-grid-smal uk-grid" style="line-height: 40px;" >-->
<!--                        <label><input class="uk-radio" type="radio" name="radio2" checked>Product or Brand</label>-->
<!--                        <label><input class="uk-radio" type="radio" name="radio2">Company Details</label>-->
<!--                    </div>-->
<!--                    <input class="uk-search-input uk-width-1-3" type="search" placeholder="Search..." style="width: 180px" (change)="search($event)">-->
<!--                    <button class="uk-button uk-button-danger uk-width-1-6" style="height: 40px;width: 100px"><span uk-search-icon></span></button>-->
<!--                </div>-->
            </div>
<!--        </div>-->
</div>

<!--<input class="uk-search-input uk-width-1-3" type="search" placeholder="Search..." style="width: 180px" (change)="search($event)">-->
<!--<button class="uk-button uk-button-danger uk-width-1-6" style="height: 40px;width: 100px"><span uk-search-icon></span></button>-->
