.header {
    background-color: #324860;
    // height: 20vh;
    padding-top: 15px;

    .card {
        padding: 15px;
        position: relative;
        // height: 10vh;
    }
}

.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
    background-color: #f0506e;
}
.uk-subnav-pill > .uk-active > a {
  background-color: #fff;
  color: black;
}

.uk-subnav-pill > a {
  background-color: #75808e;
}

.navItems {
  a {
    padding: 12px;
  }

  li {
    width: 150px;
  }
}

@media only screen and (max-width: 640px) {
  .navItems {
    li {
      width: 120px;
    }
    a {
      padding: 9px;
    }
  }
}
