<div class="tableHeader uk-width-1-1 uk-column-1-2">
  <div class="tableDetails uk-column-1-2 uk-width-1-3 uk-width-1-1@s@s">
    <div>
      <h5>{{ title | uppercase }}</h5>
      <h4>{{ count }}</h4>
    </div>
    <div>
      <h5>WEIGHT (KG)</h5>
      <h4>32423423</h4>
    </div>
  </div>

  <div class="tableHeaderInputs uk-width-1-5 uk-width-1-1@s@s uk-align-right">
    <div style="float: right; width: 220px">
      <div class="uk-margin">
        <select class="uk-select" style="width: 100%; margin-left: 16px;">
          <option selected hidden>Option 01</option>
          <option>Option 02</option>
        </select>
      </div>
    </div>
    <div style="float: right; width: 200px; margin-left: 25px">
      <div class="uk-margin">
        <select class="uk-select" style="width: 220%;">
          <option>Option 01</option>
          <option>Option 02</option>
        </select>
      </div>
    </div>
  </div>
</div>
