/* You can add global styles to this file, and also import other style files */
body {
  font-family: Montserrat sans-serif;
  //font-family: inherit
}

.uk-notification-message-hivis {
	color: #fff;
	background-color: #f0506e;
}

.page-item.active .page-link {
  background-color: #324860;
  border-color: #324860;
}

.page-link {
  color: #324860;
}
