<ngx-spinner
  bdOpacity=0.9
  bdColor="rgba(51,51,51,0.84)"
  size="medium"
  color="#fff"
  type="ball-atom"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<app-header (emitType)="getData($event,1 , sizeTable)"></app-header>

<app-search (searchEmitter)="search($event)" (filterShow)="showFilters($event)"></app-search>

<app-filters id="filters" [hidden]="filters"></app-filters>

<div class="header uk-width-1-1 uk-animation-fade" uk-height-viewport>

<!--  <div style="padding: 5px; cursor: pointer; margin-bottom: 10px;">-->
<!--    <span uk-icon="icon: list"></span><span style="margin-left: 4px;">Showing {{ totalRecords }} companies</span>-->
<!--  </div>-->

  <div class="uk-container uk-animation-fade uk-width-1-1@m uk-card" style="background: transparent ">
<!--    Todo-->
    <app-table-header [title]="type" [count]="totalRecords"></app-table-header>

    <div class="uk-grid-small uk-child-width-expand@s uk-overflow-auto" uk-grid >
      <table class="uk-table uk-table-divider uk-table-hover uk-table-justify" *ngIf="this.type !== 'shipments'">
        <thead>
        <tr>
          <th>Id.</th>
          <th>Country</th>
          <th>Company</th>
          <th>City</th>
          <th>State</th>
          <th>Phone</th>
          <th>General Email</th>
          <th>Website</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of source">
          <td>{{ item.id }}</td>
          <td ><span *ngIf="item.country">{{ item.country.name }}</span></td>
          <td>{{ item.companyName }}</td>
          <td></td>
          <td></td>
          <td>{{ item.phone }}</td>
          <td>{{ item.email }}</td>
          <td (click)="redirect(item.website)">{{ item.website }}</td>
        </tr>
        </tbody>
      </table>

      <table class="uk-table uk-table-divider uk-table-hover uk-table-justify" *ngIf="this.type == 'shipments'">
        <thead>
        <tr>
          <th>Id.</th>
          <th>Exporter</th>
          <th>Importer</th>
          <th>Description</th>
          <th>Origin Country</th>
          <th>Origin Port</th>
          <th>Destination Country</th>
          <th>Destination Port</th>
          <th>Date</th>
          <th>Data Set</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of source">
          <td>{{ item.id }}</td>
          <td><span *ngIf="item.supplier">{{ item.supplier.companyName }}</span></td>
          <td><span *ngIf="item.buyer">{{ item.buyer.companyName }}</span></td>
          <td>{{ item.cargo_description }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ item.estimate_arrival_date }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="pagination uk-grid">
      <ngb-pagination [(page)]="headerPage" [pageSize]="sizeTable" (pageChange)="change($event)"
                      [collectionSize]="totalRecords" [maxSize]="5" [boundaryLinks]="true"
      class="paginationElement">
      </ngb-pagination>
      <select class="uk-select pageSize" (change)="selectSizeTable($event)">
        <option selected value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
  </div>
</div>
