.header {
    //background-color: #fff;
    // height: 20vh;
    padding: 15px;
    margin-top: 25px;
}

//.uk-subnav-pill > .uk-active > a {
//    background-color: #f0506e;
//}
//
//.uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped>tr:nth-of-type(odd) {
//    background: #f7e7ec;
//}
//
//.uk-table th {
//    background-color: #f0506e;
//    color: #fff;
//}
//
//.uk-table tr:hover {
//    cursor: pointer;
//}

.pagination {
    justify-content: center;
}
